extends layout

<<<<<<< HEAD
block content
    .home-screen
=======
block content 
    main.home-screen#home-screen
>>>>>>> 9e68bf8fde6c5a4e99d63e6cce93664e2e8904aa
        header#home-header.home-header
            h1.title Jeopardy
        #start-container.start-container
            a(href="/menu").start-button#start-button Let's Go