extends default 

block content 
    main.home-screen#home-screen
        header#home-header.home-header
            h1.title Jeopardy
        #start-container.start-container
            a(href="/menu").start-button#start-button Let's Go