nav#main-nav.main-nav
    ul#main-nav__menu.main-nav__menu
        li: a(href='/') Home
        if user
            li: a(href='/dashboard') Dashboard
            li: a(href='/logout') Logout
        else
            li: a(href='/login') Login
            li: a(href='/register') Register
